@model laba9.Models.Readers

@{
    ViewBag.Title = "Details";
}
<h3>@ViewBag.user</h3>
<h2>Details</h2>

<div>
    <h4>Readers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.r_fio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.r_fio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.r_dt_birth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.r_dt_birth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.r_passport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.r_passport)
        </dd>

    </dl>
</div>
<p>
    @if (@User.Identity.IsAuthenticated)
    {@Html.ActionLink("Edit", "EditReader", new { id = Model.r_id }) }|
@Html.ActionLink("Back to List", "Readers")
</p>
