@model IEnumerable<laba9.Models.Readers>

@{
    ViewBag.Title = "Читатели";
}
<h3>ViewBag.user</h3>
<h2>Читатели</h2>

<p>
    @if (@User.Identity.IsAuthenticated)
    {@Html.ActionLink("Create New", "CreateReader")}
</p>
<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Фамилия
        </th>
        <th>
            Дата рождения
        </th>
        <th>
            Пасспорт
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.r_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.r_fio)
        </td>
        <td>
            @item.r_dt_birth.ToString("yyyy-MM-dd")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.r_passport)
        </td>
        <td>
            @if (@User.Identity.IsAuthenticated)
            {@Html.ActionLink("Edit", "EditReader", new { id = item.r_id })} |
            @Html.ActionLink("Details", "DetailsReader", new { id = item.r_id }) |
            @if (@User.Identity.IsAuthenticated)
            {@Html.ActionLink("Delete", "DeleteReader", new { id = item.r_id })}
        </td>
    </tr>
    }

</table>
